@tailwind base;
@tailwind components;
@tailwind utilities;

.h-80vh{
  height: 80vh;
}
.W-80vW{
  width: 80vw;
}
.box-design{
  border: 1px solid gray;
  border-radius: 10px;
  box-sizing: border-box;
}
.table_head{
  background-color: rgb(103, 114, 229);
  color: rgb(255, 255, 255);
  box-sizing: border-box;
  width: calc(25% - 0px);
}
*{
  box-sizing: border-box;
}
.h1_head{
  margin-bottom: .5rem;
  font-family: inherit;
  font-weight: 600;
  line-height: 1.5;
  color: #32325d;
}